@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: black;
 
}


@font-face {
  font-family: "Futura Std";
  src: url('../../public/assets/fonts/FuturaStd-Bold.otf');
}

@font-face {
  font-family: "Futura Std light";
  src: url('../../public/assets/fonts/FuturaStd-Light.otf');
}

@font-face {
  font-family: "Futura Std bold";
  src: url('../../public/assets/fonts/FuturaStd-ExtraBold.otf');
}

@font-face {
  font-family: "Futura Std";
  src: url('../../public/assets/fonts/FuturaStd-Bold.otf');
  font-weight: 500;
}

@font-face {
  font-family: "Futura Std";
  src: url('../../public/assets/fonts/FuturaStd-Light.otf');
  font-weight: 400;
}

@font-face {
  font-family: "Futura Std";
  src: url('../../public/assets/fonts/FuturaStd-ExtraBold.otf');
  font-weight: 700;
}


  
@font-face {
  font-family: "Futura Std Cond";
  src: url('../../public/assets/fonts/FuturaStd-CondensedBold.otf');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "Futura Std Cond";
  src: url('../../public/assets/fonts/FuturaStd-Condensed.otf');
  font-weight: normal;
}
  
@font-face {
  font-family: "Futura Std Cond";
  src: url('../../public/assets/fonts/FuturaStd-CondensedLight.otf');
  font-weight: lighter;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.MuiSlider-valueLabelCircle > span{
  background: transparent;

}		

.MuiSlider-valueLabelCircle {
  background: transparent;
  font-size: 1rem;
  font-family: 'Futura Std light';
}		

@media only screen and (max-width: 550px) {
  /* For desktop: */
  .MuiSlider-valueLabelCircle{
  font-size: 2rem;
}
}

.MuiFormLabel-root, .Mui-focused  .MuiFormLabel-root, .MuiInputLabel-root, .MuiInputLabel-formControl, .MuiInputLabel-animated, .MuiInputLabel-shrink, .MuiInputLabel-standard, .MuiFormLabel-colorPrimary, .MuiFormLabel-filled, .MuiInputLabel-root, .MuiInputLabel-formControl, .MuiInputLabel-animated, .MuiInputLabel-shrink, .MuiInputLabel-standard, .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
  color:yellow
}
.MuiInputBase-root{
background-color: azure;
}


/* .MuiTouchRipple-root {
  background-color: blueviolet;
} */
.MuiTouchRipple-root > span {
 color: white;
}


