@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: black;
 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.MuiSlider-valueLabelCircle > span{
  background: transparent;

}		

.MuiSlider-valueLabelCircle {
  background: transparent;

}		
.MuiFormLabel-root, .Mui-focused  .MuiFormLabel-root, .MuiInputLabel-root, .MuiInputLabel-formControl, .MuiInputLabel-animated, .MuiInputLabel-shrink, .MuiInputLabel-standard, .MuiFormLabel-colorPrimary, .MuiFormLabel-filled, .MuiInputLabel-root, .MuiInputLabel-formControl, .MuiInputLabel-animated, .MuiInputLabel-shrink, .MuiInputLabel-standard, .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
  color:yellow
}
.MuiInputBase-root{
background-color: azure;
}


.MuiTouchRipple-root {
  background-color: blueviolet;
}
.MuiTouchRipple-root > span {
 color: white;
}


